@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(85, 26, 23, 0.651);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #591C19;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(44, 14, 12, 0.733);
}

h2 {
    color: #DF8681;
    text-shadow: 1px 1px 2px rgba(172, 102, 98, 0.801);
}

body {
    background-image: linear-gradient(to bottom, #F7A896, #F56B4C);
}